[package]
name = "native_db"
version = "0.5.3"
authors = ["Vincent Herlemont <vincent@herlemont.fr>"]
edition = "2018"
description = "Drop-in embedded database"
license = "MIT"
repository = "https://github.com/vincent-herlemont/native_db"
readme = "README.md"
build = "build.rs"
keywords = ["embedded", "database", "multi-platform", "android", "ios"]
categories = ["database-implementations", "concurrency", "data-structures", "caching", "algorithms"]

[workspace]
members = ["native_db_macro"]

[dependencies]
redb = "1.5.0"
native_db_macro = { version = "0.5.3", path = "native_db_macro" }
thiserror = "1.0"
serde = { version = "1.0" }
native_model = { version = "0.4.10" }

uuid = { version = "1.7" , optional = true }
chrono = { version = "0.4" , optional = true }

# Optional tokio support
tokio = { version = "1", features = ["sync"], optional = true }
# TODO: channels with futures
# TODO: channels crossbeam

[dev-dependencies]
assert_fs = "1.1"
serial_test = { version = "3.0", features = ["file_locks"] }
shortcut_assert_fs = { version = "0.1.0" }
skeptic = "0.13"
tokio = { version = "1.35", features = ["test-util","macros"] }
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
criterion = { version = "0.5.1" }
doc-comment = "0.3.3"
uuid = { version = "1", features = ["serde", "v4"] }
chrono = { version = "0.4", features = ["serde"] }
rand = "0.8"
once_cell = "1.19"

[features]
default = []

[[bench]]
name = "overhead_data_size"
harness = false

[build-dependencies]
skeptic = "0.13"
