[package]
name = "struct_db"
version = "0.3.13"
authors = ["Vincent Herlemont <vincent@herlemont.fr>"]
edition = "2018"
description = "Drop-in embedded database"
license = "MIT"
repository = "https://github.com/vincent-herlemont/struct_db"
readme = "README.md"
build = "build.rs"
keywords = ["embedded", "database", "persistence", "key-value-store", "lmdb"]
categories = ["database-implementations", "concurrency", "data-structures", "caching", "algorithms"]

[workspace]
members = ["struct_db_macro"]

[dependencies]
redb = "1.0.5" # TODO make it optional when IndexDB is implemented
struct_db_macro = { version = "0.3.13", path = "struct_db_macro" }
thiserror = "1.0"

# TODO: make it optional when custom serialization is implemented
serde = { version = "1.0", features = ["derive"] }
bincode = { version = "2.0.0-rc.3", features = ["serde"] }

# Optional error handling support usefull debugging
eyre = { version = "0.6", optional = true }
color-eyre = { version = "0.6", optional = true }

[dev-dependencies]
assert_fs = "1.0"
serial_test = { version = "2.0", features = ["file_locks"] }
shortcut_assert_fs = { version = "0.1.0" }
skeptic = "0.13"
color-eyre = { version = "0.6" }

[features]
default = []
eyre_support = ["eyre", "color-eyre"]

[build-dependencies]
skeptic = "0.13"