name: Linux

on:
  push:
    branches: [ main ]
    paths-ignore:
      - "**/*.md"
  pull_request:
    branches: [ main, next ]
    paths-ignore:
      - "**/*.md"

env:
  RUST_BACKTRACE: full

jobs:
  build_test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        toolchain: [stable]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
          override: true
      - uses: extractions/setup-just@v1
      - uses: hustcer/setup-nu@v3.8
        with:
          version: '0.85'
        env:
            GITHUB_TOKEN: ${{ secrets.PAT_GLOBAL }}
      - name: Just version
        run: just --version
      - name: Build
        run: just build_all
      - name: Test
        run: just test_all