name: iOS

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, next ]
  schedule:
    # At 23:00 on Thursday.
    - cron:  '0 23 * * 4'

env:
  RUST_BACKTRACE: full

jobs:
  build_test:
    runs-on: macos-14
    strategy:
      fail-fast: true
      matrix:
        toolchain: [stable]
        device: ["iPhone 14"]
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4
      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          targets: x86_64-apple-ios
      # Install utilities
      - name: Cache cargo install
        uses: actions/cache@v4
        if: always()
        with:
          path: |
            ~/.cargo/bin/
          key: cargo-global-${{ matrix.toolchain }}-${{ github.ref }}-${{ hashFiles('**/Cargo.lock') }}
      - run: if ! command -v cargo-dinghy &> /dev/null; then cargo install --version 0.6.8 cargo-dinghy; fi
      - run: if ! command -v just &> /dev/null; then cargo install --version 1.25.2 just; fi
      - run: just --version
      - uses: hustcer/setup-nu@v3.10
        with:
          version: '0.85'
        env:
            GITHUB_TOKEN: ${{ secrets.PAT_GLOBAL }}
      # End install utilities
      - run: just test_ios_launch_simulator "${{ matrix.device }}"
      # - run: just test_ios_list_simulators
      - run: just test_ios